@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #B60000;
  --color-secondary: #DF0000;
  --color-inner-containers: #F6F6F6;
  --color-stroke-containers: #EBEBEB;
  --color-book-box-bg: #FFFFFF;
  --color-book-box-stroke: #EBEBEB;
  --color-text-primary: #000000;
  --color-text-secondary: #929292;
  --color-text-input: #B3B3B3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
